.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
  }
}

.aside {
  margin-top: 30px;
  ul {
    display: flex;
    justify-content: center;

    li {
      list-style: none;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      span {
        margin-left: 5px;
        font-weight: 500;
      }

      &.good svg,
      &.good span {
        color: $color-good;
      }
      &.warning svg,
      &.warning span {
        color: $color-warning;
      }
      &.bad svg,
      &.bad span {
        color: $color-bad;
      }
      &.very-bad svg,
      &.very-bad span {
        color: $color-very-bad;
      }
    }
  }
}
