$color-pastel-blue: #daeaf6;
$color-blue: #99ccf3;
$color-sea-blue: #408af1;
$color-good: #026abf;
$color-warning: #fcc33c;
$color-bad: #c82612;
$color-very-bad: #2a2a2a;
$color-prohibit: rgba(255, 255, 255, 0.5);

:export {
  colorPastelBlue: $color-pastel-blue;
  colorBlue: $color-blue;
  colorSeaBlue: $color-sea-blue;
  colorGood: $color-good;
  colorWarning: $color-warning;
  colorBad: $color-bad;
  colorVeryBad: $color-very-bad;
}

$mobile: 767px;

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/*넓이, 높이 자동 계산함수*/
@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}
